<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Brand Logo Detection Using YOLOv3">
  <meta name="author" content="qcuong98">
  <title>YOLOGO</title>
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/custom.css">

  <script src="static/js/jquery.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
</head>

<script>
$(document).ready(function() {
  window.URL = window.URL || window.webkitURL;
  $("#image-form").submit(function(e) {
    e.preventDefault();

    var id_model = document.getElementById("yolo-model").selectedIndex;
    if (id_model == 0) {
      url_model = '/model_1'
    } else {
      url_model = '/model_2'
    }
    
    var fileInput = $(this).find("input[type=file]")[0],
    file = fileInput.files && fileInput.files[0];
    
    var form_data = new FormData($('#image-form')[0]);
    $.ajax({
      type:'POST',
      url:url_model,
      cache: false,
      contentType: false,
      processData: false,
      data : form_data,
      success: function(response){
        console.log(response)

        var img = new Image();
        img.src = window.URL.createObjectURL( file );

        threshold = document.getElementById('confident').selectedIndex * 0.1 + 0.5

        img.onload = function() {
          var c = document.getElementById("img-canvas");
          var ctx = c.getContext("2d");

          c.width = img.naturalWidth;
          c.height = img.naturalHeight;
          ctx.drawImage(img, 0, 0);

          for (i in response.objects) {
            var obj = response['objects'][i];

            if (obj['conf'] < threshold)
              continue;

            ctx.beginPath();
            ctx.lineWidth = "6";
            var color = '#'+(Math.random()*0xFFFFFF<<0).toString(16);
            ctx.strokeStyle = color;
            ctx.rect(obj['bbox']['x'], obj['bbox']['y'], obj['bbox']['w'], obj['bbox']['h']); 
            ctx.stroke();

            ctx.beginPath();
            ctx.font = "30px Lucida Sans Unicode";
            ctx.textBaseline = "top";
            ctx.textAlign = "left";
            
            var text = obj['class'] + ", " + Math.round(obj['conf'] * 100) + "%"

            ctx.fillStyle = color;
            var width = ctx.measureText(text).width;
            ctx.fillRect(obj['bbox']['x'], obj['bbox']['y'], width, 30);
            
            ctx.fillStyle = "white";
            ctx.fillText(text, obj['bbox']['x'], obj['bbox']['y']);
          }
          window.URL.revokeObjectURL(img.src);
        }
      },
      error: function (jqXHR, status, error) {
        if (jqXHR.status&&jqXHR.status==400)
          alert(jqXHR.responseText); 
        else
          alert("Something went wrong");
      }
    });
  });
});
</script>

<script>
$(document).ready(function() {
  $('#file-form').on('change',function(){
    var fileName = $(this).val().split('\\').pop();
    $(this).next('.custom-file-label').html(fileName);
  })
});
</script>

<body>
  <!-- the navbar -->
  <nav class="navbar navbar-toggleable-md navbar navbar-dark bg-primary">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">HOME</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/qcuong98/yologo">Source Code</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="mailto:tqcuong1998@gmail.com">Contact</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- the jumbotron -->
  <div class="jumbotron">
    <h1 class="display-3">Brand Logo Detection Using YOLOv3</h1>
    <p class="lead">Statistical Machine Learning Course</p>
    <hr class="my-4">
    
    <form class="form-inline" id="image-form" action="/" method="POST">
      <label for="yolo-model">Model: </label>
      <select class="custom-select my-1 mr-sm-2" id="yolo-model">
        <option value="1">YOLOv3</option>
        <option value="2">YOLOGO</option>
      </select>
      <label for="confident">Confident Threshold: </label>
      <select class="custom-select my-1 mr-sm-2" id="confident">
        <option value="1">50%</option>
        <option value="2">60%</option>
        <option value="3">70%</option>
        <option value="4">80%</option>
        <option value="5">90%</option>
      </select>
      <div class="input-group my-1 mr-sm-2">
        <div class="input-group-prepend">
          <span class="input-group-text">Upload</span>
        </div>
        <div class="custom-file">
          <input type="file" name="file" class="custom-file-input" id="file-form" required>
          <label class="custom-file-label" for="file-form">Choose file</label>
          <div class="invalid-feedback">Example invalid custom file feedback</div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary my-1 mr-sm-2">Detect</button>
    </form>
    <hr class="my-4">

    <canvas id="img-canvas" width="0" height="0" style="width:80%;display:block;margin: 0 auto;"></canvas>
  </div>

  <div class="container-fluid">
  <p>YOLOGO Dataset: <a href="http://image.ntua.gr/iva/datasets/flickr_logos/">Flickr Logos 27</a></p>
  <hr class="my-4">
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Author Infomation
  </button>
  <!-- Modal -->
  <div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Quoc-Cuong Tran</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body"> 
          University: Ho Chi Minh City University of Science <br/> Major: Computer Science <br/> Student ID: 1612843
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

</html>
